name: Deploy docs & coverage to GitHub Pages (on PR merge)

on:
  push:
    branches: [ publish-collateral ]  # This is for testing, change to main...

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Fetch Tags
        run: |
          git fetch --tags

      - name: Set up Python 3.11
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
            python-version: 3.11

      - name: Install requirements.txt
        run: |
          python -m pip install -r requirements.txt

      - name: Run UT
        shell: bash
        run: |
          OTEL_USE_CONSOLE_EXPORTER=TRUE pytest --color=yes --cov=./anaconda_opentelemetry --cov-report=html --cov-report=term-missing tests/unit_tests

      - name: Run Build Script
        shell: bash
        run: |
          scripts/make-docs.sh

      - name: Stage Artifacts
        shell: bash
        run: |
          rm -rf site
          mkdir -p site/docs site/coverage
          cp -r docs/build/html/* site/docs/
          cp -r htmlcov/* site/docs
          touch site/.nojekyll

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: site

  deploy:
    needs: build
    if: ${{ needs.build.result == 'success' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
