name: Deploy docs & coverage to GitHub Pages (on PR merge)

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Fetch Tags
        run: |
          git fetch --tags

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
            python-version: 3.14

      - name: Install requirements.txt
        run: |
          python -m pip install -r requirements.txt
          python -m pip install pytest pytest-cov

      - name: Run UT
        shell: bash
        run: |
          OTEL_USE_CONSOLE_EXPORTER=TRUE pytest --color=yes --cov=./anaconda/opentelemetry --cov-report=html --cov-report=term-missing tests/unit_tests

      - name: Run Build Script
        shell: bash
        run: |
          scripts/make-docs.sh

      - name: Stage Artifacts
        shell: bash
        run: |
          rm -rf site
          mkdir -p site/docs site/coverage
          cp -r docs/build/html/* site/docs/
          cp -r htmlcov/* site/coverage/
          touch site/.nojekyll

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: site

  deploy:
    needs: build
    if: ${{ needs.build.result == 'success' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
